.feedback
    display: flex
    align-content: center
    background-color: #808080f0
    color: white
         
    width: 95%
    position: absolute
    z-index: 1
    top: 2%
    &__text
        padding: 1rem
        text-align: center
        width: 100%
        font-size: 1.3rem
        font-weight: 400
        padding-top: 1rem

@media screen and (min-width: 600px) 
    .feedback
        width: 90vw
        left: 5vw
        
@media screen and (max-width: 599px) 
    .feedback
        width: 90vw
        left: 5vw
        max-width: 400px