.header
    height: 10vh
    background-color: #ff7a8a
    color: white
    display: flex
    justify-content: space-between
    align-items: center
    width: 100vw
    margin: 0

    &__title
        margin: 1rem
        width: 50vw
    &__form
        display: flex
        justify-content: flex-end
        margin: 1rem
        width: 50vw

                    

.--white
    color: white
