.main
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    background-color: #ff7a8a2b
    
    & ul
        display: flex
        flex-wrap: wrap
        justify-content: space-around